<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Albumi tietokanta</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.min.css"
      crossorigin="anonymous"
    />
		<link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  </head>

	<body class="bg h-100">
    <nav class="navbar navbar-expand-md navbar-primary bg-info mb-4">
      <a class="navbar-brand text-white font-weight-light" href="{{ url_for('index') }}">
				<span class="navbar-brand font-weight-bold text-light p-0 m-0 shadoust">Albumi</span> tietokanta</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">   
   			 <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
				</span>
      </button>
      <div class="collapse navbar-collapse pl-4" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
				{% if current_user.is_authenticated %}
          <li class="nav-item mr-2">
            <a class="nav-link text-white btn btn-lg btn-info text-weight-bold shadoust pt-1 pb-1" href="{{ url_for('albums_index') }} "
              ><i class="fas fa-list-ul mr-1 text-danger no-shadoust"></i>Albumit</a
            >
          </li>
          {% if not current_user.user_group == 1 %}
          <li class="nav-item">
            <a class="nav-link text-white btn btn-lg btn-info text-weight-bold shadoust pt-1 pb-1" href="{{ url_for('albums_form') }} "
              ><i class="fas fa-plus mr-1 text-danger no-shadoust"></i>Lisää albumi</a
            >
          </li>
          {% endif %}
				{% endif %}
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          {% if current_user.is_authenticated %}
          <a class="btn btn-danger" href="{{ url_for('auth_logout') }}"
						>kirjaudu ulos, {{ current_user.username }}</a
          >
          {% else %}
          <a class="btn btn-light" href="{{ url_for('auth_login') }}">Kirjaudu</a>
					<a class="btn btn-danger ml-2 text-light" href="{{ url_for('auth_register') }}">Rekisteröidy</a>
          {% endif %}
        </div>
      </div>
    </nav>
		
		<main role="main" class="container">
    {% block body %}
    <p>
      Content.
    </p>
    {% endblock %}
		</main>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
		<script src="https://kit.fontawesome.com/7ae346fe6a.js" crossorigin="anonymous"></script>
  </body>
</html>
