<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Albumi tietokanta</title>
  </head>

  <body>
		{% if current_user.is_authenticated %}
    <p>
		Olet kirjautunut nimellä {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
    {% endif %}
    <ul>
			<li><a href="{{ url_for('index') }}">Etusivu</a></li>
      <li><a href="{{ url_for('albums_index') }}">Näytä  albumit</a></li>
      <li><a href="{{ url_for('albums_form') }}">Lisää albumi</a></li>
    </ul>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
