{% extends "layout.html" %}

{% block body %}

<h1>Muokkaa albumia</h1>
<form method="POST" action="{{ url_for('album_edit', album_id = albumi.id) }}">
	<table>
		<tr>
			<th>Albumin nimi: </th>
			<td>{{ albumi.nimi }}</td>
		</tr>
		<tr>
			<th>Julkaisuvuosi: </th>
			<td>{{ albumi.julkaisuvuosi }}</td>
		</tr>
		<tr>
			<th>Tähtien määrä: </th>
			<td>{{ albumi.tahtien_maara }}</td>
		</tr>
		<tr>
			<th>Uusi tähtien määrä:</th>
			<td>
				{% for subfield in form.tahtien_maara %}
					{{ subfield.label }} {{ subfield }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Muokkaa albumia">
			</td>
		</tr>
	</table>
</form>
{% endblock %}
