{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
			<th>Esittäjä</th>
      <th>Albumin nimi</th>
      <th>Julkaisuvuosi</th>
      <th>Tähtien määrä</th>
    </tr>
    {% for album in albums %}
    <tr>
			<td>{{ album.esittaja }}</td>
      <td>{{ album.albumi }}</td>
      <td>{{ album.julkaisuvuosi }}</td>
      <td>{{ album.tahtien_maara }}</td>
			<td>
				<a href="{{ url_for('album_via_id', album_id = album.id) }}">muokkaa</a>
				<form action="{{ url_for('album_delete', album_id = album.id) }}">
					<input type="submit" value="poista">
				</form>
			</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
