{% extends "layout.html" %}
  
{% block body %}
<h1 class="text-grey d-block text-center">
	<i class="fas fa-record-vinyl"></i>
</h1>
<h1 class="text-primary text-center">Lisää albumi</h1>
<div class="container d-flex justify-content-center">
	<form method="POST" action="{{ url_for('albums_create') }}">
		<div class="form-group">
			{{ form.artisti.label }}
			{{ form.artisti(class_="form-control") }}
		</div>
		<div class="form-group">
			{{ form.nimi.label }}
			{{ form.nimi(class_="form-control") }}
		</div>
		<div class="form-group">
			{{ form.julkaisuvuosi.label }}
			{{ form.julkaisuvuosi(class_="form-control") }}
		</div>
		<div class="form-group">
			{{ form.tahtien_maara.label(class_="mr-3") }}
			{% for tahti in form.tahtien_maara %}
			<div class="form-check form-check-inline">
				{{ tahti.label(class_="form-check-label pr-1") }} {{ tahti(class_="form-check-input") }}
			</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<input class="btn btn-danger" type="submit" value="Lisää uusi albumi">
		</div>
	</form>
</div>
{% endblock %}
