{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('albums_create') }}">
	<table>
		<tr>
			<td>
				{{ form.nimi.label }}
			</td>
			<td>
				{{ form.nimi }}
			</td>
		</tr>
		<tr>
			<td>
				{{ form.julkaisuvuosi.label }}
			</td>
			<td>
				{{ form.julkaisuvuosi }}
			</td>
		<tr>
			<td>
				{{ form.tahtien_maara.label }}
			</td>
			<td>
				{% for subfield in form.tahtien_maara %}
					{{ subfield.label }} {{ subfield }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Add a new album" />
			</td>
		</tr>
	</table>
</form>
{% endblock %}
