{% extends "layout.html" %}

{% block body %}
<h1 class="text-grey d-block text-center">
	<i class="fas fa-user-edit"></i>
</h1>
<h1 class="text-primary text-center">Luo uusi käyttäjä</h1>
<div class="container d-flex justify-content-center">
	<form method="POST" action="{{ url_for('auth_register') }}">
		<div class="form-group col">
			{{ form.username.label }}
			{{ form.username(class_="form-control") }}
			<ul class="list-group list-group-flush text-danger">
				{% if error %}
					<li class="list-group-item">{{ error }}</li>
				{% endif %}
				{% for error in form.username.errors %}
					<li class="list-group-item">{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="form-group col">
			{{ form.password.label }}
			{{ form.password(class_="form-control") }}
			<ul class="list-group list-group-flush text-danger">
				{% for error in form.password.errors %}
					<li class="list-group-item">{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="form-group col">
			<input class="btn btn-danger" type="submit" value="Rekisteröidy">
		</div>
	</form>
</div>

{% endblock %}
